.App {
  font-family: sans-serif;
  text-align: center;
}

.modal {
  display: grid;
  place-content: center;
  
  /* border: 1px solid #000;
  border-radius: 8px; */
}

.overlay {
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: teal;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 12px;
}

.content p {
  margin: 6px;
  font-size: 24px;
  font-weight: bold;
}

/* button {
  background-color: #f9f9f9;
  outline: none;
} */

/* ------------ниже стили которые появились при установки Vite+React+Ts------------ */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.message {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.message-error {
  background-color: tomato;
}

.message-success {
  background-color: #00fc9a;
  color: #000;
}

.message-info {
  background-color: #ffb500;
}

.border {
  border: 1px solid #000;
  border-radius: 8px;
}