#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
/* Tags-1 */
.card {
  width: 280px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 15px auto;
  /* margin: 0 auto 0 auto; */
}

.card-img-top {
  width: 280px;
}

.card-body {
  text-align: left;
  padding: 15px;
}

.card-title {
  margin: 0;
  font-size: 16px;
}

.card-link {
  margin: 0 25px 0 0;
}



/* Tags-2 */
#tags2 {
  margin: 0 0 15px 0;
}

.nowMassMedia {
  display: flex;
  /* display:  inline-block; */
  text-align: center;
  margin: 0 5px;
  padding: 0 0 0 35px;
}

.nowMassMedia1 {
  margin: 0 5px 0 0;
  color: blue;
}

.nowMassMedia2, .nowMassMedia3 {
  margin: 0 5px;
  color: blue;
}

.nowMassMedia4 {
  /* margin: 0 0 0 5px; */
  margin: 0 0 0 0;
  color: gray;
}

.newsUl {
  list-style: none;
  text-align: left;
  margin: 0 0 15px 0;
}

.picturesServ, .newsServ, .cardsServ, .marketServ, .translatorServ, .broadcastsServ {
  margin: 0 10px;
}

/* Яндекс поиск */
#yandexInput {
  width: 100%; /* Используется вся доступная ширина */ 
  /* max-width: 500px;  Ограничение на максимальную ширину */ 
}

.yandexDiv {
  display: flex; 
}

#yandex {
  font-size: 20px;
  margin: 0 10px 0 0;
}

#yandexInput {
  border: 2px solid yellow;
  padding: 0 5px;
}

#yandexButton {
  padding: 0 10px 0 0;
  background: yellow;
}

#yandexDivBottom {
  display: flex;
  font-size: 12px;
  padding: 0 0 0 80px;
  
}

.gray {
  color: gray;
  margin: 0 0 0 5px;
}

/* .yandexDivBottom */