#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
/* Tags-1 */
.card {
  width: 280px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 15px auto;
  /* margin: 0 auto 0 auto; */
}

.card-img-top {
  width: 280px;
}

.card-body {
  text-align: left;
  padding: 15px;
}

.card-title {
  margin: 0;
  font-size: 16px;
}

.card-link {
  margin: 0 25px 0 0;
}



/* Tags-2 */
#tags2 {
  margin: 0 0 15px 0;
}

.nowMassMedia {
  display: flex;
  /* display:  inline-block; */
  text-align: center;
  margin: 0 0;
  padding: 0 0 0 75px;
}

.nowMassMedia1 {
  margin: 0 5px 0 0;
  color: blue;
}

.nowMassMedia2, .nowMassMedia3 {
  margin: 0 5px;
  color: blue;
}

.nowMassMedia4 {
  /* margin: 0 0 0 5px; */
  margin: 0 0 0 0;
  color: gray;
}

.tableTop {
  display:  flex;
  /* border: 1px solid gray; */
}

.newsUl {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0 0;
}

.tableTopLeft {
  text-align: left;
  font-size: 12px;
  padding: 0 0 0 75px;
}

.tableTopRight {
  position: relative;
  /* position: block; */
  text-align: left;
  padding: 0 0 0 30px;
  font-size: 12px;  
}

#chaShcha {
  width: 50px;
}

.workOnBugs {
  left: 0px;
  font-size: 14px;
}

.seeItInYandex {
  font-size: 10px;
}

.yandexServices {
  padding: 0 0 0 80px;
  font-size: 12px;
  text-align: left;
}

.videoServ {
  margin: 0 10px 0 0;
}

.picturesServ, .newsServ, .cardsServ, .marketServ, .translatorServ, .broadcastsServ {
  margin: 0 10px;
}

.isStillServ {
  margin: 0 0 0 10px;
}

/* Яндекс поиск */
#yandex {
  font-size: 20px;
  margin: 0 5px 0 0;
}

#yandexInput {
  width: 100%; /* Используется вся доступная ширина */ 
  /* max-width: 500px;  Ограничение на максимальную ширину */ 
}

.yandexDiv {
  display: flex; 
}

#yandexInput {
  width: 500px;
  border: 2px solid yellow;
  padding: 0 5px;
}

#yandexButton {
  padding: 0 10px 0 10px;
  background: yellow;
  cursor: pointer;
}

#yandexDivBottom {
  display: flex;
  font-size: 12px;
  padding: 0 0 0 80px;  
}

.gray {
  color: gray;
  margin: 0 0 0 5px;
}

.advertisement {
  padding: 0 60px 0 60px;
}

#advertisement {
  max-width: 500px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 75px;
  margin-right: 75px;
  text-align: left;
  font-size: 12px;
}





.column {
  border: 1px solid black;
  width: 150px;
}

.divWeather {
  display: flex;
  justify-content: space-between;
}

.imgWeather {
  width: 35px;
  object-fit: contain ;
}

.degrees {
  font-size: 20px;
}

.morningAndEvening {
  font-size: 10px;
}

/* .weather {
  font-size: 12px;
} */